body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.card {
  max-width: 350px;
  background: white;
  margin: 60px auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

input {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
}

button {
  background: #e63946;
  color: white;
  border: none;
  padding: 10px;
  margin: 6px;
  width: 90%;
  border-radius: 5px;
}

.hidden {
  display: none;
}
